h1 {
    position: fixed;
    font-family: "helvetica";
    font-weight: 400;
    font-size: 20px;
    /* letter-spacing: 0.07em; */
    /* top: 0%; */
    left: 27%; 
    margin-top: 2%;
}

iframe {
    margin-top: 5%;
}